/* Containers */

.description__title {
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;

  gap: clamp(5px, -9.1892px + 2.027vw, 20px);
}

.description__sub {
  flex-flow: row nowrap;

  width: 90dvw;
  gap: clamp(20px, -33.9189px + 7.7027vw, 77px);

  @media (max-width: 700px) {
    flex-wrap: wrap;
  }

  > .image {
    background-image: url("../assets/images/main-page-image.webp");

    height: 474px;
    width: 474px;
  }

  > .description__sub__text {
    flex-shrink: 1.5;
    max-width: 715px;
  }
}

.location {
  flex-flow: row;

  width: 90dvw;

  gap: clamp(150px, 8.1081px + 20.2703vw, 300px);

  @media (max-width: 700px) {
    flex-wrap: wrap;
    gap: 50px;
  }

  > .location__box {
    flex-flow: column nowrap;
    flex-shrink: 1;

    width: clamp(300px, 38.1081px + 30.2703vw, 474px);
    height: clamp(400px, 38.1081px + 30.2703vw, 474px);

    > iframe {
      flex-shrink: 1;
      flex-basis: 474px;
    }
  }
}
