/* Containers */

.location {
    flex-flow: row;

    width: 90dvw;

    gap: clamp(150px, 8.1081px + 20.2703vw, 300px);

    @media (max-width: 700px) {
      flex-wrap: wrap;
      gap: 50px;
    }

    > .location__box {
      flex-flow: column nowrap;
      flex-shrink: 1;

      width: clamp(250px, 38.1081px + 30.2703vw, 474px);
      height: clamp(250px, 38.1081px + 30.2703vw, 474px);

      > iframe {
        flex-shrink: 1;
        flex-basis: 474px;
      }
    }
  }


