/* Initial config */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
ul,
a,
p,
h1 {
  list-style: none;
  text-decoration: none;
  color: var(--black);
}

:root {
  --pink--dark: #ffc499;
  --pink--light--light: #ffdadf;
  --pink--light: #f6cee6;
  --pink--light--dark: #dfc3ee;
  --pink--light--dark--dark: #d1cafd;
  --black: #191718;
  --black--light: #4c454a;
  --black--light--light: #7f737c;
  --white: #ffffff;
}

.flex {
  display: flex;
  flex-flow: column wrap;
}

/* Animation */

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Fonts */

.title {
  /* For big titles, like my name. */
  font-family: "Pridi";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(2rem, -0.9561rem + 6.7568vw, 5.125rem);
  letter-spacing: -0.06em;

  color: var(--black);
  -webkit-text-stroke: 4px var(--white);
  paint-order: stroke fill;
}

.title--sub {
  /* Its the subtitle for title. */

  font-family: "Pridi";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(1.5rem, -0.7466rem + 5.1351vw, 3.875rem);
  letter-spacing: -0.06em;

  color: var(--white);
  -webkit-text-stroke: 3px var(--black--light--light);
  paint-order: stroke fill;
}

.title--sub--sub {
  /* It's the second and final subtitle. */

  font-family: "Pridi";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(1.375rem, 0.7838rem + 1.3514vw, 2rem);
  letter-spacing: -0.06em;
  -webkit-text-stroke: 4px var(--white);
  paint-order: stroke fill;
}

.title--large--sub--sub {
  font-family: "Pridi";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(1.375rem, -1.25rem + 6vw, 2.5rem);
  letter-spacing: -0.06em;

  color: var(--black);
  -webkit-text-stroke: 4px var(--white);
  paint-order: stroke fill;
}

.title--header {
  /* This is a font for the header. */

  font-family: "Pridi";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.75rem, 0.0405rem + 1.6216vw, 1.5rem);
  letter-spacing: -0.06em;

  color: var(--black);

  padding: 10px;
}

.paragraph--large {
  /* The paragraphs in large version. */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(1.125rem, 0.7703rem + 0.8108vw, 1.5rem);
  letter-spacing: -0.06em;

  -webkit-text-stroke: 2px var(--white);
  paint-order: stroke fill;
}

/* Loader */

.loader {
  display: flex;
  position: fixed;

  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;

  background-color: var(--white);
  color: var(--black);

  z-index: 2;
}

/* Header */

.header {
  position: fixed;

  top: 28px;
  left: 50%;
  transform: translate(-50%);

  > .header__row {
    position: relative;
    display: flex;
    flex-direction: row;

    width: max-content;
    
    justify-content: center;
    align-items: center;

    gap: clamp(0.75rem, -0.3142rem + 2.4324vw, 1.875rem);

    > .title--header:hover {
      background-color: var(--pink--light);
      border-radius: 50px;

      cursor: pointer;
    }

    > div {
      height: clamp(50px, 2.7027px + 6.7568vw, 100px);
      width: clamp(260px, -203.5135px + 66.2162vw, 750px);
      position: absolute;

      background-color: var(--white);
      border: solid 1px var(--black);
      border-radius: 50px;

      z-index: -1;
    }
  }
}

/* Containers */

.description {
  position: relative;

  width: 90dvw;

  top: clamp(100px, 81.0811px + 2.7027vw, 120px);
  left: clamp(12px, -35.2973px + 6.7568vw, 62px);
  gap: 20px;

  padding-bottom: clamp(20px, 20dvh, 50px);
}

.image {
  flex-shrink: 1;
  flex-grow: 1;
  max-height: 474px;
  max-width: 474px;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Button */

.button {
  background-color: var(--white);

  flex-grow: 1;
  flex-shrink: 1;

  padding: 10px 0px;

  align-items: center;

  border-radius: 25px;
}

/* Background */

.background {
  background: var(--pink--light--dark--dark);
  position: fixed;

  top: -160px;
  left: clamp(12px, -35.2973px + 6.7568vw, 62px);

  z-index: -1;

  width: 792px;
  height: 1037px;

  transform: rotate(23.93deg);

  + .background {
    top: 20px;
    left: 160px;

    @media (max-width: 700px) {
      left: 0px;
    }

    background-color: var(--pink--light--dark);
  }

  + .background + .background {
    top: 200px;
    left: 320px;
    @media (max-width: 700px) {
      left: 0px;
    }

    background-color: var(--pink--light);
  }

  + .background:last-of-type {
    top: 380px;
    left: 480px;
    @media (max-width: 700px) {
      left: 0px;
    }

    background-color: var(--pink--light--light);
  }
}
