.description {
  .keychain {
    flex-flow: row wrap;

    width: 90dvw;

    > .keychain__container {
      flex-flow: row wrap;
      width: 90dvw;
      gap: clamp(150px, -83.3333px + 33.3333vw, 250px);

      @media (max-width: 850px) {
        flex-wrap: wrap;
        gap: 12px;
      }

      @media (max-width: 850px) {
        flex-wrap: wrap;
        gap: 12px;
      }

      > .image {
        background-image: url("../assets/images/images__works/llavero_9.webp");
        height: clamp(288px, 112.0541px + 25.1351vw, 474px);
        background-position: 50%;
      }

      > .image + .image {
        background-image: url("../assets/images/images__works/llavero_10.webp");
      }
    }

    > .keychain__container:nth-child(2) {
      flex-flow: row wrap;
      width: 90dvw;
      gap: clamp(150px, -83.3333px + 33.3333vw, 250px);

      @media (max-width: 850px) {
        flex-wrap: wrap;
        gap: 12px;
      }

      @media (max-width: 850px) {
        flex-wrap: wrap;
        gap: 12px;
      }
      > .image {
        background-image: url("../assets/images/images__works/llavero_11.webp");
        height: clamp(288px, 112.0541px + 25.1351vw, 474px);
        background-position: 50%;
      }

      > .image + .image {
        background-image: url("../assets/images/images__works/llavero_12.webp");
      }
    }

    > .keychain__container:nth-child(3) {
      flex-flow: row wrap;
      width: 90dvw;
      gap: clamp(150px, -83.3333px + 33.3333vw, 250px);

      @media (max-width: 850px) {
        flex-wrap: wrap;
        gap: 12px;
      }

      @media (max-width: 850px) {
        flex-wrap: wrap;
        gap: 12px;
      }

      > .image {
        background-image: url("../assets/images/images__works/llavero_13.webp");
        height: clamp(288px, 112.0541px + 25.1351vw, 474px);
        background-position: 50%;
      }

      > .image + .image {
        background-image: url("../assets/images/images__works/llavero_14.webp");
      }
    }

    > .keychain__container:last-of-type {
      flex-flow: row wrap;
      width: 90dvw;
      gap: clamp(150px, -83.3333px + 33.3333vw, 250px);

      @media (max-width: 850px) {
        flex-wrap: wrap;
        gap: 12px;
      }

      @media (max-width: 850px) {
        flex-wrap: wrap;
        gap: 12px;
      }

      > .image {
        background-image: url("../assets/images/images__works/llavero_15.webp");
        height: clamp(288px, 112.0541px + 25.1351vw, 474px);
        background-position: 50%;
      }

      > .image + .image {
        background-image: url("../assets/images/images__works/llavero_16.webp");
      }
    }
  }
}

.description + .description {
  .keychain {
    flex-flow: row wrap;

    width: 90dvw;

    > .keychain__container {
      flex-flow: row wrap;
      width: 90dvw;
      gap: clamp(150px, -83.3333px + 33.3333vw, 250px);

      @media (max-width: 850px) {
        flex-wrap: wrap;
        gap: 12px;
      }

      > .image {
        background-image: url("../assets/images/images__works/llavero_23.webp");
        height: clamp(288px, 112.0541px + 25.1351vw, 474px);
        background-position: 50%;
      }

      > .image + .image {
        background-image: url("../assets/images/images__works/llavero_24.webp");
      }
    }
  }
}
